<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                   <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Collaborators</h2>
                    <p class="small text-muted"> We appreciate all of our collabrators who help us contribute to the community </p>
            </div>
                <div class="col-md-3 col-sm-6"></div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.en.cs.zju.edu.cn/" target="_blank">
                        <img src="img/logos/zjucs.jpg" class="img-responsive img-centered"  alt="College of Computer Science, Zhejiang University">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="http://www.cst.zju.edu.cn/cstenglish/main.htm" target="_blank">
                        <img src="img/logos/hic-zju.jpg" class="img-responsive img-centered" alt="Hangzhou Innovation Center, Zhejiang University">
                    </a>
                </div>

            </div>
        </div>
    </aside>