<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">

                   <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Collaborators</h2>
                    <p class="small text-muted"> We appreciate all of our collabrators who help us contribute to the communities. </p>
                   </div>

                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/oxford.png" class="img-responsive img-centered"  alt="Oxford University">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/edinburgh.png" class="img-responsive img-centered"  alt="Edinburgh University">
                </div>

                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/alibaba.png" class="img-responsive img-centered" alt="Alibaba Group">
                </div>

                <div class="col-md-3 col-sm-6">
                        <img src="img/logos/huawei.png" class="img-responsive img-centered" alt="Huawei Group">
                </div>

            </div>
        </div>
    </aside>