<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><font color="cac9b5">{{site.title}}</font></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#research">Research</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="https://github.com/zjunlp/zjunlp.github.io/wiki/Selected-Publications#" target="_blank">Publications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="https://github.com/zjunlp" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.huggingface.co/zjukg" target="_blank">Huggingface</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#team">About</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="http://twitter.com/chenhuajun">News <i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" >
                <div class=""> <h2>A research group from  <a href="https://www.zju.edu.cn/english/">Zhejiang University </a> working on Knowledge Graph and Natural Language Technologies </h2> </div>
                <div class="intro-lead-in"> &nbsp </div>

               <a href="#team" class="page-scroll btn btn-xl">About Us</a> &nbsp &nbsp &nbsp <a href="#portfolio" class="page-scroll btn btn-xl">Projects</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
