<!-- Services Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">
                        The team is devoted to foundational innovations in fields of knowledge graphs,
                        large language models and a variety of their applications.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge Graphs</h4>
                    <p class="text-muted"> Knowledge Graphs (KGs) model world knowledge in
                        graph-like forms to facilitate search, query answering, recommendation, or analytics.
                        Areas of our research include: automatic KG construction, neural reasoning
                        with KG, KG augmented deep models, etc. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Large Language Models</h4>
                    <p class="text-muted">Large Language Model (LLMs) are deep models
                        pre-trained on large-scale corpus with general purposes. Areas of our research include:
                        knowledge-aware prompts, model editing, language models reasoning,
                        low-resource model training, etc. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI in Network Science</h4>
                    <p class="text-muted"> Network is powerful in modeling complex phenomena in many domains such as
                        biomedicine, sociology, or cognitive science. We develop novel AI approaches that cater
                        specifically to data describing complex networks and systems. </p>
                </div>
            </div>
        </div>
    </section>